body {
  margin: 0;
  font-family: monospace !important;
  font-weight: 400 !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
  text-decoration: none !important;
  color: black !important;
}
a:hover {
  text-decoration: none !important;
  color: rgb(159, 154, 154) !important;
}
